body {
  -moz-background-clip:border;
  -moz-background-inline-policy:continuous;
  -moz-background-origin:padding;
  border-top:5px solid #000000;
  padding:20px 0;
  font-family: Verdana, Arial, sans;
  font-size: 14px;
}
#main {
  padding-bottom: 40px;
}
hr {
  margin-top: 28px;
}
p {
}
img.screenshot {
  margin-bottom: 20px;
  width: 260px; 
}
.sidebar {
  width: 100%;
  padding: 0 10px;
}
.sidebar h4 {
  font-size: 16px;
  margin-bottom: 0.75em;
  clear:left;
  margin-top: 1.25em;
}
.sidebar ul {
  list-style: none;
  margin-left: 0;
}
.sidebar ul li {
  margin-left: 0;
}
table.pin td {
  vertical-align: top;
  padding-bottom: 10px;
}
.red { color: red; font-weight:bold }
.green {color:green; font-weight:bold}
.purple {color:purple; font-weight:bold}
.blue {color:blue; font-weight:bold}

#main img {
  width: 250px;
}
pre {
  background-color: #ECECEC;
}
code {
  background-color: #ECECEC;
  font-size: 15px;
}


.also-by {
  font-size: 11px;
  margin-top: 20px;
}

.also-by h4 {
  font-size: 13px;
}
